.battlepage {

	display: grid;
	grid-template-rows: 10vh 25vh 6vh 25vh 10vh;
	grid-gap: 4vh;
	text-align: center;
	
}

.battlepage > article {
	margin: auto;

}


.stack-up1 {
	position: absolute;
	margin-left: 45vw;
	margin-top: 34vh;
}

.stack-up2 {
	position: absolute;
	margin-left: 45vw;
	margin-top: 74vh;
}

.generic {
	margin: auto;
}
