
.battlepage {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 2rem;
}



.battlepage-main {

	display: grid;
	grid-template-rows: 1fr 6vh 1fr 10vh;
	grid-gap: 4vh;
	text-align: center;
	margin-top: 4vh;
}

/* .battlepage-main > article {
	margin: auto;

} */

.stack-up1,
.stack-up2{
	position: relative;
}


.stack-up1 button,
.stack-up2 button{
	position: absolute;
	bottom: -1rem; right: -1rem;

}


.generic {
	margin: auto;
}

@media(min-width: 1025px){
	.battlepage-main {
	   display: flex;
	   flex-direction: row;
	   margin-top: 7vh;
	}
	
	.battlepage-main > h1 {
		margin: auto;
		font-size: 10vh;
	}
	.generic {
		display: none;
	}
	
	.stack-up1 button,
	.stack-up2 button{
		position: relative;

	}
}
