.combatant-info {
	width: 80vw;
	height: 230px;
	/* margin-top: 1em; */
	display: flex;
	flex-direction: column;
	/* padding-bottom: 1em; */
	overflow: auto;
	justify-content: space-between;
	
}
.combatant-info > div {
	padding: 0.2em;
	
}
@media only screen and (min-width: 1025px){
	.combatant-info > div{
		padding-bottom: 2em;
		width: 70vw;
	}
	.combatant-info{
		height: 55vh;
	}
	.combatant-info > div span{
		margin-right: 2%;
	}
}