.hamburger-content {
	border: 1px solid;
	text-align: right;
	width: 100vw;
	height: 100vh;
	background-color: var(--background-color-header);
	border: none;
	position: absolute;		
	right: 0;
}
.hamburger-content > h2 {
	padding: .5em 1em;
}

.hamburger-content > h2:hover {
	background-color: #DED5C8;
}



/* Daniel's CSS för desktopversion */
@media only screen and (min-width: 1025px){
	.hamburger-content {
		all: unset;
		width: 55vw;
		height: 60px;
		border: 1px solid;
		text-align: right;
		border: none;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.hamburger-content > h2:hover {
		background-color: #DED5C8;
	}
}