.hamburger-menu  img{
	height: 55px;
	width: 55px;
	
}



.visible {
	display: block;
	
}
.invisible {
	display: none;
}




.visible-content {
	display: block;
	
}
.invisible-content {
	display: none;
}

@media only screen and (min-width: 1025px){
	.hamburger-menu  img{
		height: 2em;
		display: none;
		
	}
}