.menuCard{
	border: 3px solid black;
  width: 85vw;
  height: 24vh;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
 .menuCard > img {
	 opacity: 0;
	 
	 
 }
.menuCard:hover{
  cursor: pointer;

}

.menuCard h2{
  font-size: 2.5rem;
  
  position: absolute;
  transition: 1s;
}



.menuCard:hover h2{
  transform: scale(0.5);
  transition: .2s ease-in-out;
  position: relative;
  text-align: left;
 
  
}

.menuCard:hover img{
	
	opacity: 1;
	transition-property: opacity;
	transition-duration: 2s;
	width: 100%;
	height: 90%;
	
}

article.peach{
  border: 5px solid #FCA795;
}

article.teal{
  border: 5px solid #048BA8;
}

article.pink{
  border: 5px solid #A4036F;
}

@media(min-width: 1025px){
  .menuCard{
    width: 30vw;
	height: 60vh;
	flex-direction: column;
  }

  .menuCard h2{
	font-size: 7em;
	transition: 1s;
	
  }
  .menuCard:hover h2 {
	transform: scale(0.9);
	transition: .5s ease-in-out;
	position: relative;
	text-align: bottom;
   
	 
  }

  article.peach{
	border: 20px solid #FCA795;
  }
  
  article.teal{
	border: 20px solid #048BA8;
  }
  
  article.pink{
	border: 20px solid #A4036F;
  }
  
}