div.pickFighterArea{
	padding-top: 0rem;
}

h1.selectFighterH1{
	margin: 0 auto;
	display: block;
	width: fit-content;
	margin-top: 4rem;
	margin-bottom: -3rem;
}
.desktop-view {
	display: none;
}

.choose-fightersBtn {
	display: none;
}

.pickWinnerBtns {
	display: none;
}

.generic-btn {
	margin-top: 10vh;
}
@media(min-width: 1025px){

	.selectFighter-form  button.disable{
		cursor: not-allowed;
		pointer-events: none;

		/*Button disabled - CSS color class*/
		color: #c0c0c0;
		background-color: #ffffff;
	}

	div.pickFighterArea{
		padding-top: 1rem;
	}

	h1.selectFighterH1{
		display: none;
	}
	.desktop-view {
		display: block;
		display: grid;
		grid-template-columns: 1fr 10% 1fr;
	    justify-items: center;
		align-items: center;
		margin-top: 2rem;
	}
	
	.pickWinnerBtns {
		grid-column: 1/4;
		margin-top: 1em;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.pickWinnerBtns.disable  * {
		cursor: not-allowed;
        pointer-events: none;

        /*Button disabled - CSS color class*/
        color: #c0c0c0;
        background-color: #ffffff;

	}
	
	.choose-fightersBtn{
		display: block;	
		display: flex;
		align-items: center;
	}

	.choose-fightersBtn > button {
		border: none;
		padding: 1.3em;
		background-color: var(--background-color-header);
		
	}
	.selectFighter-form {
		padding: 1em;
		display: grid;
		grid-template-columns: 90% 10%;
		
	}
	
    .generic-btn {
		display: none;
	}
	
  }
