
	.pick-button {
		border: 1px solid;
		border: none;
		background-color: var(--pink);
		color: white;
		padding: 0.5em;
		
	}

	.pick-button > h1 {
		font-weight: lighter;
	}

	@media(min-width: 1025px){
		
		.pick-button {
			border: 1px solid;
			border: none;
			background-color: var(--pink);
			color: white;
			padding: 1.5em;
			
		}
		
	  }
	