.loser-hamster {
	display: absolute;
	bottom: 10vh;
	cursor: pointer;
	font-size: 1.2em;
    letter-spacing: 1px;
	line-height: 30px;
	margin-left: 2em;
}

.resultView-container{
	display: flex;
	flex-direction: column;
	max-height: 80vh;
}

.resultView-container > :nth-child(1) {
	
    margin: auto;
}






@media only screen and (min-width: 1025px){
	.resultView-container{
		display: flex;
		flex-direction: row;
	}
	.resultView-mobile-btn{
		position: absolute;
		bottom: 1%;
		right: 5%;
	}
	
	.loser-hamster {
		position: absolute;
		height: 1em;
		bottom: 7%;
		width: 30vw;
		right: 60%;
		font-size: 2em;
		
	}
}