div.scrollDiv{
    margin: 1rem auto;
    width: 80vw; 
    overflow-Y: scroll;
    /* border: 2px solid black; */
    font-size: 1.5rem;
}

div.scrollDiv .hamsterInfo{
    height: calc(40vh);

    /* Calc ska egentligen vara 100vh - headerns höjd - marginal - bild - marginal - knapp - marginal */
}

div.scrollDiv .stats{
    height: calc(100vh - 3.5rem - .6em);

    /* Calc ska egentligen vara 100vh - headerns höjd - knapp plus liite marginal */
}
@media only screen and (min-width: 1025px){
    div.scrollDiv{
        padding-top: 5em;
        padding-left: 1em;
        height: 80vh;
        width: 55vw;
        font-size: unset;
    }
}