.startpage-main {
	height: calc(100vh - 60px);
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	padding-top: 1rem;
	

}

.startpage-main > article {
	margin: auto;
}


@media(min-width: 1025px){
	.startpage-main{
	  display: flex;
	  flex-direction: row;

	}

	
  }
