	.stats-combatant {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		
	}
	.stats-combatant > div {
		width: 90%;
		text-align: center;
		font-size: 5vw;
		margin: auto;
		
		
	}


.stats-combatant img {
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 1025px){
	.stats-combatant > div {
		width: 90%;
		text-align: center;
		font-size: 1.7vw;
		margin: auto;
		
	}
	.stats-combatant img {
		width: 70%;
		height: 70%;
	}
	
}