
	.total-matches {
		padding: 0.5em;
		text-align: center;
	}

	.total-matches p {
		font-family: Arial, Helvetica, sans-serif;
		 font-style: normal;
		 font-size: 5vw;
	}

	.show-total {
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 3em;
	}

	@media only screen and (min-width: 1025px){
      .total-matches p {
		   font-size: 5vw;
	   }

	   .show-total {
		   font-size: 3em;
	   }
   
	}