form {
    padding: 2rem 1.5rem;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-size: 1.5rem;
    height: calc(100vh - 60px - 1.8rem - .6em);
    /* Höjden är hela sidan minus header minus generic knappen*/
    width: 100vw;
    position: relative;

}

form h2 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;

}

form label {
    font-size: 1.2rem;
    color: #AFA18C;
    font-weight: 800;
    display: inline-block;
    margin-bottom: .3rem;
}

form input {
    padding: 1rem .4rem .4rem;
    font-size: 1.2rem;
    border: none;
    margin-bottom: .5rem;
}

div.inputs {
    display: grid;
    grid-template-rows: repeat(3, 2rem 1fr);
    grid-template-columns: 6rem 1fr;
    width: 100%;
}

div.inputs :nth-child(1) {
    grid-area: 1 / 1 / span 1 / span 1;
}

div.inputs :nth-child(2) {
    grid-area: 2 / 1 / span 1 / span 6;
}

div.inputs :nth-child(3) {
    grid-area: 3 / 1 / span 1 / span 1;
}

div.inputs :nth-child(4) {
    grid-area: 4 / 1 / span 1 / span 1;
    margin-right: 1rem;

}

div.inputs :nth-child(5) {
    grid-area: 3 / 2 / span 1 / span 1;
}

div.inputs :nth-child(6) {
    grid-area: 4 / 2 / span 1 / span 1;
}

div.inputs :nth-child(7) {
    grid-area: 5 / 1 / span 1 / span 6;
}

div.inputs :nth-child(8) {
    grid-area: 6 / 1 / span 1 / span 6;

}

input[type='file'] {
    visibility: hidden;
    width: 70%;
}

label.fileReader {
    font-family: montserrat, cursive;
    width: 100%;
    background-color: #AFA18C;
    margin-top: 2rem;
    color: black;
    text-align: center;
    padding: 1.2em;
    font-size: small;
}


/* Validering Text */
.name-error-message>span,
.age-error-message>span,
.favFood-error-message>span,
.loves-error-massage>span {
    position: absolute;
    font-size: x-small;
}

.name-error-message>span {
    top: 25%;
    right: -55%;
}

.age-error-message>span:last-child {
    top: 26.6%;
    left: 51%;
}

.age-error-message>span:first-child {
    top: 75.2%;
    left: 3%;
}

.favFood-error-message>span {
    top: 26.6%;
    right: 5%;
}

.loves-error-massage>span {
    top: 24%;
    right: 4%;
}
.genericBtn-form{
    margin-top: 1em;
}

/* Check-mark animation */

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .checkmark__circle.cross{
    stroke: #ff0000;
  }
  .checkmark {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 0.5% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: check-fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
  .checkmark.cross{
      box-shadow: inset 0px 0px 0px #ff0000;
      animation: cross-fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes check-fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }
  @keyframes cross-fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #ff0000;
    }
  }

@media(min-width: 1025px) {

    form {
        height: auto;
        position: relative;
        padding: 2rem 5rem;

    }

    form h2 {
        font-size: 3rem;
        text-align: left;

    }

    form label {
        font-size: 1.5rem;
    }

    div.inputs {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1rem 1fr);
        gap: 1.5rem 4rem;
        width: 100%;
    }

    div.inputs :nth-child(1) {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    div.inputs :nth-child(2) {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    div.inputs :nth-child(3) {
        grid-area: 1 / 2 / span 1 / span 1;
    }

    div.inputs :nth-child(4) {
        grid-area: 2 / 2 / span 1 / span 1;
        margin-right: 0;
    }

    div.inputs :nth-child(5) {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    div.inputs :nth-child(6) {
        grid-area: 4 / 1 / span 1 / span 1;
    }

    div.inputs :nth-child(7) {
        grid-area: 3 / 2 / span 1 / span 1;
    }

    div.inputs :nth-child(8) {
        grid-area: 4 / 2 / span 1 / span 1;
    }

    button.uploadImage {
        margin-top: 7rem;
        width: 30%;
        font-size: 1.2rem;

    }

    /* Check-mark animation */
    .checkmark{
        left: 96%;
        position: relative;
    }


    /* Validering text */
    .name-error-message>span {
        top: 95.6%;
        left: 80%;
    }

    .age-error-message>span:last-child {
        left: unset;
        right: 1%;
        top: 82.2%;
    }

    .age-error-message>span:first-child {
        left: unset;
        right: 1%;
        top: 82.2%;
    }

    .favFood-error-message>span {
        right: unset;
        top: 82.6%;
        left: 81%;
    }

    .loves-error-massage>span {
        top: 83.6%;
        right: 1%;
    }
}