form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    height: calc(100vh - 60px - 1.8rem - .6em);
    /* Höjden är hela sidan minus header minus generic knappen*/

}

form h2{
    font-size: 1.5rem;
    
}

form label{
    font-size: 1.2rem;
    color: #AFA18C;
    font-weight: 800;
}