@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1EBDE;
}

h1, h2 {
  font-family: 'Bangers', cursive;
}

h2{
  font-size: 3rem;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

.splash-title {
  font-size: 8rem;
  margin-bottom: 0.2em;
  text-align: center;
}

.menuCard{
  width: 70vw;
  height: 15vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuCard:hover{
  cursor: pointer;
}

.menuCard:hover h2{
  transform: scale(1.2);
  transition: .2s ease-in-out;
}

article.peach{
  border: 5px solid #FCA795;
}

article.teal{
  border: 5px solid #048BA8;
}

article.pink{
  border: 5px solid #A4036F;
}

@media(min-width: 1025px){
  .menuCard{
    width: 20vw;
    height: 22vw;
  }
}