@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1EBDE;
}

h1 {
  font-family: 'Bangers', cursive;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

.splash-title {
  font-size: 8rem;
  margin-bottom: 0.2em;
  text-align: center;
}